{% assign content = site.data.content['contacts_form'] %}
{% assign ui_text = site.data.ui-text['ui_text'] %}

<!-- Contact Form -->

<!-- Contacts Info -->
<div class="section contacts">
	<div class="content">
		{{ if content.title != '' }}
		<div class="title">
			<div class="title_inner">{{ content.title }}</div>
		</div>
		{{ endif }}

		<div class="contact_form">
			<form id="cform" action="https://formsubmit.io/send/{{ site.formsubmit_email }}" method="POST">
				<input name="_formsubmit_id" type="text" style="display:none">

				<div class="group-val">
					<input type="text" name="name" placeholder="{{ ui_text.full_name }}" id="name" />
				</div>
				<div class="group-val">
					<input type="text" name="email" placeholder="{{ ui_text.email_address }}" id="email" />
				</div>
				<div class="group-val ct-gr">
					<textarea name="message" placeholder="{{ ui_text.your_message }}" id="message"></textarea>
				</div>
				<a href="#" class="btn fill" onclick="$('#cform').submit(); return false;" data-text="{{ ui_text.send_message }}">
					{{ ui_text.send_message }}
				</a>
			</form>
		</div>
	</div>
</div>