---
layout: default
---

{% assign ui_text = site.data.ui-text['ui_text'] %}

<!-- Started -->
<div class="section started">
	<div class="centrize full-width">
		<div class="vertical-center">
			<div class="started-content">
				<div class="h-title glitch-effect" data-text="{{ page.title }}">{{ page.title }}</div>
				<div class="h-subtitle typing-bread">
					<p><a href="{{ site.url }}">{{ ui_text.home }}</a> / <a href="{{ page.url }}">{{ page.title }}</a></p>
				</div>
				<span class="typed-bread"></span>
			</div>
		</div>
	</div>
	<a href="#" class="mouse_btn"><span class="ion ion-mouse"></span></a>
</div>

<!-- Blog -->
<div class="section blog">
	<div class="content">
		<div class="title">
			<div class="title_inner">{{ ui_text.latest_posts }}</div>
		</div>
		<div class="box-items post-items">
			{% for post in paginator.posts %}
			<div class="box-item post-item">
				<div class="image">
					<a href="{{ post.url }}">
						{% if post.image != nil %}
						<img src="{{ post.image | relative_url }}" alt="{{ post.title }}" />
						{% endif %}
						<span class="info">
							<span class="centrize full-width">
								<span class="vertical-center">
									<span class="ion ion-ios-book-outline"></span>
								</span>
							</span>
						</span>
					</a>
				</div>
				<div class="desc">
					<div class="date">{{ post.date | date: site.date_format }}</div>
					<!--<div class="categories">{{ post.categories | join: ", " }}</div>-->
					<a href="{{ post.url }}" class="name">{{ post.title }}</a>
				</div>
			</div>
			{% endfor %}
		</div>
		
		{% if paginator.total_pages > 1 %}
		<div class="pagination">
		  {% if paginator.previous_page %}
		    <a href="{{ paginator.previous_page_path | relative_url }}" class="page-numbers prev">{{ ui_text.prev }}</a>
		  {% else %}
		    <span class="page-numbers prev">{{ ui_text.prev }}</span>
		  {% endif %}

		  {% for page in (1..paginator.total_pages) %}
		    {% if page == paginator.page %}
		      <span class="page-numbers current">{{ page }}</span>
		    {% elsif page == 1 %}
		      <a href="{{ '/' | relative_url }}" class="page-numbers">{{ page }}</a>
		    {% else %}
		      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page-numbers">{{ page }}</a>
		    {% endif %}
		  {% endfor %}

		  {% if paginator.next_page %}
		    <a href="{{ paginator.next_page_path | relative_url }}" class="page-numbers next">{{ ui_text.next }}</a>
		  {% else %}
		    <span class="page-numbers next">{{ ui_text.next }}</span>
		  {% endif %}
		</div>
		{% endif %}

		<div class="clear"></div>
	</div>
</div>